<div class="container-xl form-box">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Events", events_path %></li>
      <li class="breadcrumb-item"><%= link_to @event.name, @event %></li>
      <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>
  <% content_for :title, "Editing event" %>

  <h1>Editing event</h1>

  <br>

  <% if @event.start_date > Date.today %>
  <div>
    <%= render "form", event: @event %>
    <%= button_to "Destroy this event", @event, method: :delete, class:"btn btn-outline-danger" %>
  </div>
  <% else %>
  <div>
    <p class="text-danger">You can't edit this event because it has already started or has already happened.</p>
  </div>
  <% end %>

</div>
