<p style="color: green"><%= notice %></p>
<div class="container-xl">
<% content_for :title, "Events" %>

<h1>Events</h1>


<%= link_to "New event", new_event_path, class:"btn btn-outline-primary" %>

<div id="events_summary" class="my-2">
  <% @events.each do |event| %>
    <%= render partial: "events/event_summary", locals: { event: event } %>
  <% end %>
</div>


</div>
